.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* перенос overflow-x отсюда в kaufman как раз
  и даст вертикальный скрол(!). другой доступной обертки по брифу
  у нас нет, а чтобы это исполнить надо задать overflow-x и overflow-y
  в разных обертках, не в одной. нельзя сделать так - пусть будет никак */
  /* overflow-x: hidden; */
}
